/* Start HTML Elements */
body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    padding-left: 150px;
    padding-right: 150px;
}

a, li{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
}

span {
    padding: 10px;
    margin-left: 162px;
}

/* End HTML Elements */

/* Start HTML Classes */

/* Header Section */
.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #DBE2EF;    
}
.navbar {
    display:flex;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.logo-text {
    float: left;
    font-size: 20px;
    font-weight: bold;
    width: 33.2%;
}

.logo {
    float: left;
    width: 33.3%
}

.logo-pic {
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-item {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 16px;
    list-style: none;
    margin-bottom: 15px;
}

.navbar-list {
    float: left;
    max-width: 33.5%;
}

/* Introduction Section */
.first-section {
    padding-top: 125px;
    padding-bottom: 425px;
    background-color: F9F7F7;
    width: 100%;
}
.introduction-section-img {
    float: left;
    width: 50%;
}

.introduction-section-text {
    float: left;
    width: 50%;
    text-align: justify;  
}

.place-img {
    float: left;
    width: 95%;
}
 .res-name {
    margin-top: 0;
 }

 button {
    padding: 10px 30px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 15px;

  }
  
  button {
    background-color: white; 
    color: black; 
    border: 2px solid #112D4E;
  }
  
  button:hover {
    background-color: #112D4E;
    color: #F9F7F7;
  }

  
  .button1 {
    background-color: #112D4E; 
    color: #F9F7F7; 
    border: 2px solid #112D4E;
  }
  
  .button1:hover {
    background-color: #F9F7F7;
    border: 2px solid #112D4E;
    color: black;
  }

/* Review Section */
.review-main {
    text-align: center;
    padding-bottom: 330px;
}

.review1, .serve {
    text-align: center;
    display: flex;
    float: left;
    width: 33.333333%;
    padding-right: 33px;
    padding-left: 54px;
    margin-bottom: 15px;

}

.review-content {
    text-align: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 309px;
    height: 309px;
    border: 0;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
  }
  
  /* Style the front side */
  .flip-card-front {
    background-color: #DBE2EF;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #DBE2EF;
    color: black;
    transform: rotateY(180deg);
  }
.review-header {
    padding-bottom: 15px;
    text-align: center;
}

.google-maps {
    padding-top: 5px;
    padding-bottom: 20px;
    width: 100%;
}

.reach-us {
    margin-top: 0;
    padding-bottom: 15px;
    text-align: center;
}

.mapouter {
    margin-top: 10px;
}

.footer {
    position:absolute;
    float: left;
    width: 100%;
    top: 83%;
    left: 0%;
    text-align: center;
    margin-top: 50px; 
}


/* End HTML Classes */




